
      *
      {
          margin:0;
          padding: 0;
          box-sizing: border-box;
      }
      body {
            margin: 0px;
            padding:0px;
            font-size: 15px;
            background-color: azure;
            line-height: 1.5;
            text-align: justify;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;


        }

        html {
            font-size: 100%;

            /* scroll-behavior: smooth; */
        }

        @media (min-width: 640px) {
            body {
                font-size: .8rem;
            }
        }

        @media (min-width:960px) {
            body {
                font-size: .9rem;
            }
        }

        @media (min-width:1100px) {
            body {
                font-size: 1rem;
            }
        }

        /* img {
            max-width: 100%;
            height: auto;
        } */

        .topnav {
            overflow: hidden;
            /* background-color: rgb(3, 3,3); */
            background-color: transparent;
            
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            /* box-shadow: 1px 1px 1px 0px #7e0b0b; */
            z-index: 2;
            /* border-bottom: 1px solid black; */

            /* sliding from the top */
            /* animation: 1s ease-out 0s 1 slideInFromtop; */

        }

        @media screen and (max-width: 900px) {
            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 900px) {
            .topnav.responsive {
                position: relative;
                height: auto;
            }

            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        .topnav a {
            float: left;
            display: block;
            color: #7e0b0b;
            /* color:black;  */
            text-align: center;
            padding: 16px 18px;
            margin: 0px 5px;
            text-decoration: none;
            font-size: 1.1rem;
            height: auto;
            width: auto;
            font-weight: bold;
            

        }

        /* .topnav a:hover {
            background-color: #7e0b0b;
            color: White;

        } */

        .topnav a:after {
            display: block;
            content: '';
            color:white;
            border-bottom: solid 3px #7e0b0b;
            transform: scaleX(0);
            transition: transform .5s ease-in-out;
        }

        .topnav a:hover:after {
            transform: scaleX(1);
            color: #7e0b0b
        }

        /* .navbar a:useclassname:after{ transform-origin:100% 50%; }
.navbar a:useclassname:after{  transform-origin:  0% 50%; } */

        .topnav .icon {
            display: none;
        }

        section {

            /* min-height: 100vh; */
            max-height: auto;
            padding: 10px;
            margin:0px;
            background-color: azure;
            
        }

      

        #home{
            /* background-image: url(images/homebackground.png);
            background-repeat: no-repeat;
            background-size: cover; */
            margin:0px;
            padding:0px;
            padding-top:100px;
            background-position: center;
            /* position: relative; */
            /* background-color: #fff; */
            /* max-height:auto !important; */
        }

       .bgimage::before
        {   
            background: url('images/vitap.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            /* background-position: 50% 50%; */
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: .9;
        }

        .headings {
            font-size: 32px;
            color: #7e0b0b;
            line-height: 52px;
            padding-bottom: 10px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 10px;
            margin-top: 150px;
            border-bottom: 2px solid #7e0b0b;


        }

        #title {
            color: #7e0b0b;
            font-size: 40px;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            position: relative;
            animation: 1s ease-out 0s 1 slideInFrombottom;
            /* text-shadow: 3px 3px 4px #333; */
            /* border: 2px solid #7e0b0b; */
        }

        .mytab,
        .mytab1 {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: auto;
            margin: 36px 10px 10px 10px;
            clear:both;
        }

        .mytab td,
        .mytab1 td,
        .mytab th,
        .mytab1 th {
            border: 2px solid #ddd;
            padding: 10px 14px;
        }

        .mytab tr:nth-child(even),
        .mytab1 tr:nth-child(even) {
            background-color: #f38686;
        }

        .mytab tr:nth-child(odd),
        .mytab1 tr:nth-child(odd) {
            background-color: #eba2a2;
        }
        .mytab th,
        .mytab1 th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            /* background-color: #7e0b0b;
            color: white; */
            font-weight: normal;
            line-height: 2;
        
        }


        .mytab tr:hover {
            background-color: #7e0b0b;
            color: white
        }

        .mytab1 td:hover {
            background-color: #7e0b0b;
            color: white;
        }


        ul {
            list-style: square;
           margin-left: 30px;
        }

        /* ul li::before {
            content: "\2022";
            color: #7e0b0b;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        } */

        .brown_color {
            color: #7e0b0b;
            padding: 0px;
            margin-top: 10px;
            margin-bottom: 0px;
            font-size:22px;
        }

        .removegap {
            padding: 0px;
            margin-top: 0px;
            font-size:16px;
        }


        #date {
            background-color: #7e0b0b;
            color: white;
            padding: 10px;
            box-shadow: 1px 1px 10px 1px #7e0b0b;
            text-align: center;
            font-size: 20px;
            animation: 3s ease-out 0s 1 slideInFromtop;
            width: 200px;
            margin:10px 0px 0px 0px;
        }

     

      
        @keyframes slideInFromtop {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes slideInFrombottom {
            0% {
                transform: translateY(30%);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes slideInFromright {
            0% {
                transform: translateX(30%);
            }

            100% {
                transform: translateX(0);
            }
        }

        #myBtn {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 10px;
            /* Place the button at the bottom of the page */
            right: 10px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            border: none;
            /* Remove borders */
            outline: none;
            /* Remove outline */
            background-color: #000;
            /* Set a background color */
            color: white;
            /* Text color */
            cursor: pointer;
            /* Add a mouse pointer on hover */
            padding: 15px;
            /* Some padding */
            border-radius: 50px;
            /* Rounded corners */
            font-size: 18px;
            /* Increase font size */
            box-shadow: 1px 1px 10px 1px #000;
            background-image: url(images/top-arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 60px;
            width: 60px;

        }

        #myBtn:hover {
            background-color: #7e0b0b;
            box-shadow: 1px 1px 20px 1px #7e0b0b;


        }

     



        #logo
        {
            height:100px;
            width:300px;
            margin:auto;
        }


    .theme
    {
        width:100%;
        height:25%;
        background-color: #7e0b0b;
        margin:0px;
        padding:10px;
        display:block;
        color:Azure;
        text-align:center;
    }

    .theme h4
    {
        font-size:32px;
        margin:0px;
        padding:0px;
        text-transform: uppercase;
     
    }

    .theme p
    {
        font-size:22px;
        margin:10px;
        padding:10px;
    }

#grid
{
    display:inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    margin:0px;
}

#org
{
    text-align:right;
    margin-top:10px;
    
}

#assoc
{
    margin-top:70px;
    text-align:left;
    
}

#time
{
    margin:0;
    padding:30px;
    color:#000;
    height:25%;
    width: 100%;
    text-align:center;
    font-size: 32px;
    font-weight: bold;

    /* background-color: cornsilk; */
}

.timerboxes
{
   margin:1% 20% 0% 20%;
   /* display:flex;
   justify-content: center;
   align-items: center; */

}

.timerbox
{
  font-size: 36px;
  height:80px;
  display:inline-block;
  width:80px;
  box-shadow: 1px 1px 15px 1px #7e0b0b;
  text-align:center;
  font-stretch:expanded;
  margin:10px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family:Orbitron;

 
}

.small
{
    display:block;
    font-size: 12px;
    margin-top: 0px;
    color:#ccc;
    font-family:'Times New Roman', Times, serif
}





#objective{
    background-color: brown;
    color:azure;
    padding:20px;
}

#about
{

    padding:10px;
    font-weight: 450;
    text-align: justify;
    line-height: 1.7;
    position: relative;
    background-color: #222;
    color:white;
    
   
}
#about .image_container::before
{   
    background: url('images/vitap.png') no-repeat center center/cover;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
}


#about h1{
   color:white;
}

#about h4{
    text-align: center;
    font-size: 1.1em;
}

#about p{
    padding: 1% 5%;
    font-size: 1.05em;
    margin:0;    
}

#objective h4{
    text-align: center;
    font-size: 1.1em;
}

#objective p{
    padding: .5% 10%;
    font-size: 1em;
    margin:0;    
}

#audience
{
    width:100%;
    height:25%;
   
    margin:0px;
    padding:10px;
    display:block;
    color:#7e0b0b;
    text-align:center;
}

#audience h4
{
    font-size:32px;
    margin:0px;
    padding:0px;
    text-transform: uppercase;
   

}

#audience p
{
    font-size:26px;
    margin:10px;
    padding:10px;
}

#speakers
{
    margin:0px;
    padding:15px;
    background-color:#f76b6b;
    text-align:center;
    color:#7e0b0b;
    overflow: hidden;
    
}


#speakers h1 
{
    color:7e0b0b;
    border-bottom: 2px solid 7e0b0b;
   
}
#speakers h4
{
    font-size:1.1em;
    margin:60px 0px 30px 0px;
    padding:0px;
    text-transform: uppercase;
    text-decoration: underline;
}

#foreign_speaker, #indian_speaker, #committe_member
{
    width:97%;
    margin:auto;
   
    text-align:center;
   
}



div.gallery {
    margin: 2%;
    /* float: left; */
    width: 200px;
    padding:10px;
    height:270px;
    display:inline-table;
    
  }
/*   
  div.gallery:hover {
    transform: scale(1.05);
  } */
  
  div.gallery img {
    width: 100%;
    height: 170px;
     border-radius: 50%; 
     border: 1px solid black;
    
     
  }
  
  div.desc {
   
    font-size: 16px;
  }
  


 

  .container {
    position: relative;
    width: 180px;
    height: 240px;
    /* float:left; */
    margin:2%;
    border: 1px solid #7e0b0b;
    display: inline-table;
   
   
  }

  .container:hover {
    box-shadow: 1px 1px 10px 1px #7e0b0b;
  }
  
  .image {
    /* display: block; */
    width: 100%;
    height: 220px;
  }
  
  .overlay {
    position: absolute;
    top: 72%;
    background-color:#7e0b0b;
    width: 100%;
    height: 28%;
    opacity: 0.9;
  }
  
  
  
  .text {
    color: white;
    font-size: 14px;
    /* position: absolute; */
    padding:2px;
    text-align: center;
     
    }

    #advisory_committe_container
    {
        background-color: #f38686;
        color:black;
        padding:10px;
        
        
    }

    #advisory_committe
    {
               
        margin: 1% 5%;
        padding: 1%;
        font-size: 1em;

        
    }

    #advisory_committe h3
    {
        text-align: center;
        font-size:1.2em;
        margin: 20px 0;
        color:#7e0b0b;
        border-bottom: 3px solid #7e0b0b;
        
    
    }

    #author
    {
         padding:1% 5%;
         clear: both;
         font-size: 1em;
        
    }

    #author h3{
        color: #7e0b0b;
        font-size:1.2em;
    }
    #author h4{
        color: #7e0b0b;
        font-size:1em;
        padding: 20px 0px;
    }

  
    #registration

    {
        background-color: #eba2a2;
        color:black;

    }

    #dates
    {
        background-color: #f38686;
        color:black;

    }


    #registration, #dates
    {
         padding:1% 5%;
         font-size: 1.2em;
        
    }

    #registration h4
    {
        margin: 50px 1px;
    }

    #award
    {
        background-color: #eba2a2;
        color:black;
        padding:1% 5%;
         font-size: 1.05em;

    }

    #award h1{
        color:#7e0b0b;
        border-bottom: 3px solid #7e0b0b;
    }

    #award h4{
        font-size: 1.1em;
        display: inline;
        border-bottom: 2px solid #7e0b0b;
    }

    #award p{
        font-size: 1em;
    }

    #award ul{
        list-style:square;
    }
    #award li{
        font-size: 1em;
    }

    /* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block; 
        text-align: center;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
    
    
	/*
	Label the data
	/* 
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Secret Alias"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; } */
}


footer{
    height:auto;
    width:100%;
    background-color: #000;
    color:white;
    text-align: center;
    padding:7px;
}

.counters
{
    display: inline-block;
    font-family:Orbitron;
    text-align: center;
    width:50%;
    margin:auto;
}
.counter
{
    display: inline-block;
    padding:5px;
    width:50px;
    text-align: left;
    margin:0px;
    /* font-family:Orbitron; */
}

code
{
    font-size: 1.2em;
}